---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Demo AstroMirage">
	<div>Demo Astro + Mirage = True!!!</div>
	<div>
		<a href="/users/">List of Users</a>
	</div>
</Layout>

<style>
</style>
