---
import Layout from "../layouts/Layout.astro";

interface User {
    id: number,
    email: string,
    first_name: string,
    last_name: string
}

const response = await fetch('https://reqres.in/api/users');
const data = await response.json();
const users:User[] = data.data;
console.log(users[0].id)
---

<Layout title="Users">
    <div>
        <div>List of Users</div>
        <ul>
            {users && users.map((user) => (
                <li>
                    <a href="/user/2">{user.first_name} {user.last_name}</a>
                </li>
            ))}
        </ul>
    </div>
</Layout>
